.App-header {
    background-color: dimgrey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

button {
    padding: 1em 4em;
    border-radius: 10px;
    border: 0;
    background-image: linear-gradient(#a949ce, #a51387);
    font-family: Candara, serif;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

#dis {
    color: white;
    font-family: Candara, serif;
    font-size: 1.2em;
}
